.grosse-icone {
    font-size: 70px;
    color: #cdaadb;
}    
.text-police {    
    font-family: 'Lobster', cursive;

}

.navbar {
    background-color: #cdaadb;
}

@media (max-width: 1000px) {

    .grosse-icone {
        color:#9dbe9a;
    }
}

